@import "octicon-mixins";
@import "ui-variables";

.timecop {
  background-color: @tool-panel-background-color;

  .list-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .overview {
    margin-left: 10px;
  }

  .panels {
    display: -webkit-flex;
    -webkit-flex-direction: row;
  }

  .package-panel {
    display: -webkit-flex;
    -webkit-flex-direction: row;

    .list-group {
      overflow: hidden;
    }
  }
}
